<!DOCTYPE html>
<html ng-app="zfpxMod">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-controller="zfpxCtrl">
<ul class="nav nav-tabs">
    <li ng-click="selectMenu='Home'" role="presentation" ng-class="{active:selectMenu=='Home'}"><a href="#">Home</a></li>
    <li ng-click="selectMenu='Profile'" role="presentation" ng-class="{active:selectMenu=='Profile'}"><a href="#">Profile</a></li>
    <li ng-click="selectMenu='Messages'" role="presentation" ng-class="{active:selectMenu=='Messages'}"><a href="#">Messages</a></li>
</ul>

<div class="container">
    <form action="">
        <div class="form-group"
             ng-class="{'has-error':username.length<=3,'has-warning':username.length<=6,'has-success':username.length>6}">
            <label class="control-label" for="username">用户名</label>
            <input class="form-control" type="text" id="username" ng-model="username"/>
        </div>
    </form>
</div>


<script src="../lib/angular/angular.js"></script>
<script>
    angular.module('zfpxMod', []);
    angular.module('zfpxMod').controller('zfpxCtrl', function ($scope) {
        $scope.selectMenu='Home';
    })
</script>
</body>
</html>